body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

main{
    margin: 0px 5px;
}

/* ==ICONOS*/
.bi::before, [class^="bi-"]::before, [class*=" bi-"]::before {
    font-weight: 600 !important;
}

h1{
    color: #454545;
    font-size: 25px;
}
.volver-pagina-anterior{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.volver-pagina-anterior a{
    color: #676767;
    text-decoration: none;
    align-self: center;
}

.volver-pagina-anterior .vista-previa{
    color: #099EBD;
    cursor: pointer;
    margin: 0 10px;
}

.bi-arrow-left{
    color: #F2A530;
    margin-right: 3px;
    font-weight: bold;
    font-size: 20px;
}

.subtitulo-diseño-preguntas{
    margin-top: 40px;
}

.subtitulo-diseño-preguntas hr{
    color: #676767;
    margin-top: 2px;
}

.subtitulo-diseño-preguntas .opcion{
    color: #454545;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
}

.subtitulo-diseño-preguntas .opcion:not(:first-child){
    margin-left: 15px;
    align-self: center;
}

.subtitulo-diseño-preguntas .opcion.activate-s{
    font-weight: 800;
    font-size: 16px;
    border-bottom: 3.5px solid #F2A530;
}

.subtitulo-diseño-preguntas .opcion.activate-n{
    cursor: default;
}

.subtitulo-diseño-preguntas .opcion:hover:not(.activate-n){
    color: #F2A530;
}

.sub-encabezado {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 4;
}

#contenedor-encuesta{
    min-height: 100vh;
    width: 100%;
    background: #EEE;
    display: flex;
    flex-direction: column;
    transition: var(--tran-04);
    max-width: 1600px;
    margin: 25px auto;
    background-size: cover;
    background-position: bottom;
    border-radius: 8px;
}

/* ==Logo empresa y guardado automatico*/
.guardado-automatico{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    position: sticky;
    top: 0;
    margin: 5px 0px 0 12px;
    z-index: 10;
}

.guardado-automatico i{
    color: #00B3AA;
    margin-right: 8px;
    font-size: 23px;
}

.guardado-automatico p{
    font-size: 12px;
    font-weight: 700;
    color: white;
    text-shadow: -1px -1px 0 #504F4F, 1px -1px 0 #504F4F, -1px 1px 0 #504F4F, 1px 1px 0 #504F4F;
}

/* ==Título e instrcciones*/
.contenedor-introduccion-instruccion{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 30px;
    margin-top: 20px;
}

#titulo-encuesta, #instruccion-encuesta{
    max-width: 90%;
}

.efectohover-titulo-instruccion, .texto-titulo-encuesta, .texto-instruccion-encuesta{
    background-color: #EEE;
    border-radius: 10px;
    border: 2px dashed #099EBD;
    
    padding: 10px 25px;
    margin: 0;
    font-size: 12px;
    font-weight: 800;
    color: #595959;
    text-align: center;
    text-transform: uppercase;
    min-width: 7px;
    min-height: 14px;

    cursor: pointer;
    display: flex;
}

.texto-titulo-encuesta{
    max-width: 450px;
}

.texto-instruccion-encuesta{
    max-width: 570px;
    font-size: 13px;
    text-transform: none;
    font-weight: 700;
}

.efectohover-titulo-instruccion:hover, #imagenEmpresaClienteButton:hover{
    background-color: #F2A530;
    color: #fff;
}

.modificar-titulos, #overlay-instruccion{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    opacity: 0;
    display: none;
    border-radius: 10px;
    cursor: pointer;

    align-items: center;
    justify-content: center;
    color: white;
    font-size: 17px;
    z-index: 3;
}
.modificar-titulos:hover, #overlay-instruccion:hover{
    opacity: 1;
}

.modificar-titulos:hover + .texto-titulo-encuesta, #overlay-instruccion:hover + .texto-instruccion-encuesta {
    opacity: 0.2;
}

.edicion-rapida-titulos{
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    width: 40px;
    margin-left: auto;
    margin-right: 2px;
    opacity: 0;
}

.edicion-rapida-titulos .bi-pencil{
    color: #09B3A2;
}
.edicion-rapida-titulos .bi-trash{
    color: #A40D0D;
}

#textarea-titulo-encuesta, #textarea-instruccion-encuesta, #textarea-btnEnviar-encuesta {
    max-width: 86%;
    display: none;
    resize: none; 
    background-color: #EEE;
    border: 1px solid #099EBD;
    border-radius: 10px;
    padding: 5px;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 800;
    color: #595959;
    text-transform: uppercase;
}
#textarea-titulo-encuesta{
    max-width: 450px;
    max-height: 34px;
    padding: 10px 25px;
}
#textarea-instruccion-encuesta{
    font-size: 13px;
    font-weight: 700;
    text-transform: none;
}
#textarea-btnEnviar-encuesta{
    max-width: 190px;
    max-height: 4px;
    padding: 10px 20px 0px;
    text-transform: none;
}

#textarea-titulo-encuesta:focus, #textarea-instruccion-encuesta:focus, #textarea-btnEnviar-encuesta:focus{
    outline: none;
}

/**/
.contenedor-preguntas{
    margin: 35px 0 30px;
    padding: 0px 5px;
}

/*Pregunta*/
.diseño-pregunta {
    display: flex;
    padding: 25px 7px;
    flex-direction: column;
    background-color: #fff;
    border-right: 4px solid #099EBD;
    max-width: 1046px;
}

.diseño-pregunta span {
    font-size: 17px;
    font-weight: 700;
    color: #676767;
}
/*COLOR OBLIGATORIO*/
.diseño-pregunta .color-obligatorio{
    color: #F2A530;
}
.color-obligatorio{
    color: #F2A530;
}
#contenedor-respuestas-pregunta{
    margin-top: 7px;
}

.diseño-opciones {
    display: flex;
    align-items: center;
    height: auto;
    padding: 0px 25px;
    flex-direction: row;
}
.contenedor-pregunta-realizar {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 5px;
    padding-left: 10px;
}

/* ==Overlay - Encima de las preguntas para su modificacion*/
.pregunta-individual{
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    max-width: 1064px;
    margin: 20px auto 0 auto;
    box-shadow: 4px 5px 14px 0px rgba(0, 0, 0, 0.25);
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s;
}

/*Oscurecimiento cuando se ponga el mouse encima*/
.pregunta-individual:hover .overlay {
    opacity: 1;
    cursor: pointer;
}

.overlay span {
    color: white;
    font-weight: bold;
    margin-top: 5px;
}

.overlay i {
    color: white;
    font-size: 30px;
    border: none;
}

/* ==CONTENEDOR AGREGAR PREGUNTA*/
.contenedor-agregar-pregunta{
    margin: 30px 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.contenedor-agregar{
    display: flex;
    background-color: #EEE;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    border: solid 2px #F2A530;
    border-radius: 10px;
    padding: 3px 23px;
    cursor: pointer;
    color: #F2A530;
}

.contenedor-agregar:hover{
    background-color: #F2A530;
    color: #EEE;
}

.contenedor-agregar a{
    font-size: 15px;
    font-weight: 600;
    margin: 0;
}

.contenedor-agregar i{
    font-size: 27px;
    margin-bottom: -4px;
}

/*AGREGAR PREGUNTA CUADRO*/
.pregunta{
    background-color: #099EBD;
    border-radius: 10px;
    padding: 7px 2px;
    max-width: 1050px;
    position: relative;
}

.input-pregunta {
    display: flex;
    width: 100%;
    margin: 20px 0;
}
.texto-pregunta {
    border: 2px solid #fff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color: #515151;
    font-weight: 700;
    height: 10px;
    font-size: 14px;
    padding: 11px 10px;
    width: 66%;
    max-width: 646px;
}

/* ==Botón para elegir el tipo de pregunta*/
.dropdown{
    width: 35%;
}

.dropdown .select-btn{
    display: flex;
    height: 10px;
    background: white;
    padding: 11px 1px;
    font-size: 13px;
    border: 2px solid #fff;
    border-left-color: #e0e0e0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    max-width: 354px;
}

.sBtn-text{
    max-width: 85px;
    font-size: 13px;
    color: #515151;
    font-weight: 700;
}
.select-btn i {
    margin-top: 5px;
    font-size: 17px;
    color: #005FA6;
}

.dropdown .options{
    position: relative;
    padding: 9px 7px;
    margin-top: 10px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    display: none;
}

.options .option{
    display: flex;
    height: 50px;
    cursor: pointer;
    background: #fff;
    align-items: center;
}
/*Dropdown hover*/
.options .option:hover{
    background: #dbdbdb;
}

.option i{
    font-size: 20px;
    margin-top: 5px;
    margin-right: 12px;
}

.option .option-text{
    font-size: 14px ;
    color: #333;
}

.dropdown.active .options{
    display: block;
    position: absolute;
    right: 10px;
    width: 40%;
    max-width: 177px;
}

.dropdown.active .select-btn i{
    transform: rotate(-180deg);
    margin-top: 0;
    margin-bottom: 3px;
}
#edicion-rapida-opcion .dropdown-tipo-pregunta {
    position: relative;
    display: flex !important;
    max-width: 47%;
    cursor: pointer;
}

.dropdown-content-tipo-pregunta{
    display: block;
    background-color: #f9f9f9;
    box-shadow: 0px 3px 17px 4px rgba(0,0,0,0.2);
    border-radius: 6px;
    padding: 12px 9px;
    margin-right: 4px;
    list-style-type: none;
}

.dropdown-content-tipo-pregunta .option {
    height: 33px;
    padding: 0 5px;
}

.dropdown-tipo-pregunta.active .select-btn i{
    margin-top: 0;
    transform: rotate(180deg);
    display: inline-block;
}

.dropdown-tipo-pregunta .sBtn-text{
    margin-right: 1px;
}

/* ==Contenedor donde estrán todas las posibles respuestas*/
.contenedor-opciones-agregar{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 15px;
}

/* ==Botón para agregar posible respuesta*/
.mas-pregunta{
    display: flex;
    justify-content: center;
}

.mas-pregunta i{
    font-size: 20px;
    color: #003359;
    background-color: #fff;
    border: solid 2px #003359;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    transition: all 0.2s ease;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.mas-pregunta a:hover i{
    color: #fff;
    background-color: #003359;
}

/* ==BOTÓNES AGREGAR O CANCELAR PREGUNTA*/
.botones{
    display: flex;
    gap: 2%;
    justify-content: center;
    width: 100%;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-bottom: 5px;
}

.opcion-cancelar, .opcion-guardar{
    background-color: #fff;
    text-align: center;
    display: flex;
    width: 63px;
    height: 30px;
    border: 2px solid #F2A530;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    color: #F2A530;
    font-size: 25px;
    cursor: pointer;
    box-shadow: 0px 0px 5px rgb(0 0 0 / 10%);
}

.opcion-guardar{
    border: 2px solid #09B3A2;
    color: #09B3A2;
}

.opcion-cancelar:hover{
    background-color: #F2A530;
    color: #fff;
}

.opcion-guardar:hover{
    background-color: #09B3A2;
    color: #fff;
}

/* ==Respuesta Radio o unica*/
.radio1 {
    margin: 7px 0;
    display: block;
    cursor: pointer;
}

.radio1 input {
    display: none;
}
/*Estilo Text Radio*/
.radio1 input + span:not(:empty) {
    padding-left: 35px;
    font-size: 16px;
    font-weight: 600;

}

.radio1 input + span {
    line-height: 22px;
    height: 22px;
    display: block;
    position: relative;
}

/*Estilo Botón - Radio*/
.radio1 input + span:before {
    background: #005FA6;
    transition: background 0.2s ease, transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
}

.radio1 input + span:after {
    background: #fff;
    transform: scale(0.9);
    transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
}

.radio1 input + span:before, .radio1 input + span:after {
    content: "";
    width: 20px;
    height: 20px;
    display: block;
    border-radius: 50%;
    left: 0;
    top: 0;
    position: absolute;
}

/*radio - Seleccionado*/
.radio1 input:checked + span:before {
    transform: scale(1.04);
    background: #1894F2;
}

.radio1 input:checked + span:after {
    transform: scale(0.4);
    transition: transform 0.3s ease;
}

/*Radio - Hover*/
.radio1:hover input + span:before {
    transform: scale(0.92);
}
.radio1:hover input + span:after {
    transform: scale(0.74);
}
.radio1:hover input:checked + span:after {
    transform: scale(0.4);
}

/* ==RESPUESTA CHECKBOX */
.checkbox-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 8px 0px;
}
  
/* Estilo para el checkbox oculto */
.checkbox-container input[type="checkbox"] {
    display: none;
}
  
/* Estilo para el diseño del checkbox personalizado */
.checkbox-container label {
    position: relative;
    border-radius: 3px;
    display: flex;
    cursor: pointer;
}

.check-container-icon{
    width: 20px;
    height: 20px;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox-container label i{
    transform: scale(1);
    transition: all 0.3s ease-in-out
}

.checkbox-container:hover label i{
    transform: scaleY(0.8) scaleX(0.9);
    border-width: 2px;
}

/* Estilo para el ícono de verificación (checkmark) */
.checkbox-container label i {
    font-size: 14px;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #005FA6;
    background-color: #fff;
    border-radius: 3px;
    color: #fff;
}
  
/* Estilo para mostrar el ícono cuando el checkbox está seleccionado */
.checkbox-container input[type="checkbox"]:checked + label i {
    background-color: #1894F2; 
    border-color: #1894F2; 
}

/* ==RESPUESTA LARGA
.diseño-opciones textarea */
textarea{
    border: 1px solid #005FA6;
    width: 100%;
    resize: vertical;
    border-radius: 5px;
    min-height: 30px;
}
/* Estilos para el textarea deshabilitado */
textarea:disabled {
    margin-top: 10px;
    border: 1px solid #005FA6;
    width: 100%;
    background-color: #fff;
}
/* ==RESPUESTA BARRA DE CALOR */
.rating {
    border: 1px solid #005FA6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    background: linear-gradient(to right, #f00 0%, #f00 60%, #ff0 60%, #ff0 80%, #0f0 80%, #0f0 100%);
    width: 100%;/**/
    margin: 15px 0;
}
.rating-sin-estilo{
    background: white;
}

.rating input {
    opacity: 0;
    position: absolute;
    cursor: pointer;
    display: none;
}

.rating label {
    display: flex;
    width: 25%;
    height: 25px;
    font-size: 15px;
    justify-content: center;
    font-weight: bold;
    align-items: center;
    background: white;
    color: #515151;
    cursor: pointer;
}

.rating label:not(:last-child) {
    border-left: 1px solid #005FA6;
    transition: .3s;

}

.rating input[type='radio']:hover~label,
input[type='radio']:checked~label {
    background: none;
}

.rating input[type="radio"]:hover~label,
.rating input[type="radio"]:checked~label {
    background: transparent;
    color: #000000;
}

.rating-sin-estilo input[type="radio"]:hover~label{
    background: white;
    color: #515151;;
    cursor: default;
}
/*==Dieseño de las respuestas input*/
.opciones-preguntas{
    margin-bottom: 25px;
}
.pregunta-opciones{
    display: flex;
    padding: 0 10px;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 15px;
}

.pregunta-opciones .input-opciones1-agregar{
    margin: 0 10px 0 30px;
    width: 60%;
    border-radius: 10px;
    border: solid #fff 1px;
    padding: 3px 7px;
    outline: none;
    color: #515151;
    font-weight: 600;
    max-width: 615px;
}

.pregunta-opciones label {
    margin: 0px;
}

.pregunta-opciones span, .pregunta-opciones .radio1:hover input + span::after{
    cursor: default;
    transform: scale(0.9);
}

.pregunta-opciones .radio1:hover input + span:before {
    transform: scale(1);
}

.referencia-checkbox-agregar{
    margin-right: -20px;
    width: 18px;
    height: 18px;
    border: 1px solid #005FA6;
    background-color: #fff;
    border-radius: 3px;
}

/*==Toggle*/
.wrap-toggle{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.wrap-toggle-pregunta{
    margin: 0 0 20px 10px;
}

.wrap-toggle p{
    margin: 0 10px;
    font-weight: 600;
    color: #fff;
}

.wrap-toggle span{
    color: #F2A530;
}

.wrap-toggle .switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin: 0 0 0 30px;
  background-color: #666666;
  border-radius: 40px;
  transition: all 0.3s;
  cursor: pointer;
}

.wrap-toggle .switch:after {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 30px;
  background-color: white;
  top: 2.5px;
  left: 2.5px;
  transition: all 0.3s;
}

.wrap-toggle input[type='checkbox']:checked + .switch:after {
  transform: translateX(19px);
  background-color: white;
}

.wrap-toggle input[type='checkbox']:checked + .switch {
  background-color: #F2A530;
}

.wrap-toggle .offscreen {
  position: absolute;
  left: -9999px;
}

/*Editar*/
#btn-cerrar-editar{
    cursor: pointer;
}

.contenedor-editar-pregunta{
    width: 270px;
    height: 100vh; /* calc(100vh - 70px);*/
    background-color: #ffffff;
    position: fixed;
    top: 0;
    right: -330px; 
    transition: right 0.3s; 
    box-shadow: -10px 0 10px -5px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    padding: 10px;
    z-index: 4;
}

.contenedor-editar-pregunta .titulo-editar-pregunta{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    border-bottom: #bdbdbd solid 1px;
    padding-bottom: 5px;
}

.contenedor-editar-pregunta .titulo-editar-pregunta h2{
    font-size: 14px;
    color:#4C4C4C;
    text-transform: uppercase;
}

.contenedor-editar-pregunta .acordeon {
    border-bottom: 1px solid #ccc;
}
  
.opciones-editar-pregunta .acordeon-titulo {
    background: none;
    border: none;
    width: 100%;
    text-align: left;
    padding: 15px 0 9px;
    cursor: pointer;
    text-transform: uppercase;
    color: #454545;
    font-weight: 700;
    font-size: 14px;
}
  
.opciones-editar-pregunta .acordeon-contenido {
    max-height: 0;
    overflow: hidden;
    padding: 0 10px;
    transition: max-height 0.3s ease-out, padding 0.3s ease-out;
}
  
.opciones-editar-pregunta .acordeon-contenido.mostrar {
    max-height: 500px;
    padding: 0 0 10px;
}
  
.opciones-editar-pregunta label {
    display: block;
    font-size: 14px;
    color: #454545;
    margin-bottom: 10px;
}
  
.opciones-editar-pregunta textarea {
    width: 93%;
    resize: none;
    padding: 7px;
    font-family: sans-serif;
    font-weight: 600;
    color: #515151;
    border-radius: 10px;
    border-color: #9D9D9D;
}

.opciones-editar-pregunta .btn-edicion-rapida{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    margin-top: 20px;
}

.opciones-editar-pregunta .btn-duplicar,
.opciones-editar-pregunta .btn-eliminar {
    width: 100%;
    height: 35px;
    padding: 6px;
    margin: 5px 0px;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 5px;
}

.opciones-editar-pregunta .btn-duplicar {
    color: #0785be;
    background-color: #fff;
    border: #0785be solid 1px;
}

.opciones-editar-pregunta .btn-duplicar:hover {
    color: #fff;
    background-color: #0785be;
}

.opciones-editar-pregunta .btn-eliminar {
    color: #d40101;
    background-color: #fff;
    border: #d40101 solid 1px;
}

.opciones-editar-pregunta .btn-eliminar:hover {
    color: #fff;
    background-color: #d40101;
}

.opcion-rapida-edicion {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    min-height: 30px;
    align-items: center;
}

.opcion-rapida-edicion .texto-icono-premium {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #454545;
    font-size: 15px;
}

.texto-icono-premium i{
    color: #F2A530;
}

input[type="color"] {
    width: 25px;
    height: 26px;
    border: none;
    cursor: pointer;
}

.opciones-respuestas {
    display: flex;
    align-items: center;
    margin: 10px 0;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 7px;
}

.opciones-respuestas i{
    color: #A40D0D;
    font-size: 20px;
    cursor: pointer;
}

button.btn-agregar-respuesta {
    width: 100%;
    height: 42px;
    padding: 6px;
    margin: 5px 0px;
    background-color: #ffffff;
    border: solid 1px #9D9D9D;
    cursor: pointer;
    font-weight: 600;
    display: flex;
    gap: 7px;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    color: #515151;
    border-radius: 10px;
}

.boton-guardar-encuesta{
    display: none;
    gap: 5px;
    background-color: #EEE;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    border: solid 2px #09B3A2;
    border-radius: 10px;
    background-color: #09B3A2;
    padding: 3px 23px;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
    height: 58px;
    font-weight: 600;
    width: 126px;
    margin: 30px 20px 20px auto;
}

div#contenedor-encuesta-lista {
    display: flex;
    margin: 35px 0 10px;
    /* display: none; */
    justify-content: center;
    align-items: center;
}

.contenedor-enviar {
    display: flex;
    background-color:#0785be;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 10px 30px;
    cursor: pointer;
    color: #ffffff;
    font-weight: 700;
}

.contenedor-enviar:hover {
    background-color: #099EBD;
}

#imagenEmpresaClienteButton {
    background-color: white;
    border: 2px dashed #099EBD;
    font-family: sans-serif;
    border-radius: 8px;
    color: black;
    padding: 10px 57px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    font-weight: 800;
    color: #595959;
    display: inline-block;
    cursor: pointer;
    background-position: center;
    background-size: cover; /*100% 100%*/
}

/*Adaptable*/
/*Tablet*/
@media (min-width: 501px) and (max-width:1104px) {
    .rating{
        max-width: 750px;
        margin: 15px auto;
    }
    .sBtn-text {
        max-width: none;
        margin-right: 5px;
    }
    .pregunta{
        padding: 7px 10px;
    }
    .botones{
        justify-content: flex-end;
    }
    .input-pregunta{
        gap:8px;
    }
    .texto-pregunta{
        border-radius: 10px;
    }
    .dropdown .select-btn{
        border-radius: 10px;
    }

    .dropdown.active .options{
        max-width: 330px;
        width: 31%;
    }
    .dropdown-tipo-pregunta.active .select-btn{
        margin-right: 1px;
    }

    #textarea-titulo-encuesta{
        max-width: 450px;
        max-height: 34px;
        padding: 10px 25px;
    }

    #textarea-instruccion-encuesta{
        max-width: 570px;
        max-height: 45px;
        padding: 10px 25px;
    }
}
/*PC*/
@media (min-width: 1105px){
    main{
        margin: 0 10px;
    }
    .sub-encabezado{
        max-width: 1600px;
        margin: 0 auto;
    }
    .diseño-pregunta {
        min-width: 1045px;
        margin: 0 auto;
        border-radius: 10px;
    }
    /*Crear Pregunta*/
    .pregunta{
        padding: 7px 20px;
        min-width: 1030px;
        margin: 0 auto;
    }
    .rating{
        max-width: 750px;
        margin: 15px auto;
    }
    .sBtn-text {
        max-width: none;
        margin-right: 15px;
    }
    .botones{
        justify-content: flex-end;
    }
    .input-pregunta{
        gap:16px;
    }
    .texto-pregunta{
        border-radius: 10px;
    }
    .dropdown .select-btn{
        border-radius: 10px;
    }
    .pregunta-opciones .input-opciones1-agregar{
        margin-right: 16px;
    }

    /*Dropdown*/
    .dropdown.active .options {
        max-width: 330px;
        margin-right: 10px;
    }

    .options .option {
        padding: 0 15px;
    }

    .dropdown-tipo-pregunta .sBtn-text{
        margin-right: 1px;
    }

    #textarea-titulo-encuesta{
        max-width: 450px;
        max-height: 34px;
        padding: 10px 25px;
    }

    
    #textarea-instruccion-encuesta{
        max-width: 570px;
        max-height: 45px;
        padding: 10px 25px;
    }
}