:root{
    /*transition*/
    --tran-02:all 0.2s ease;
    --tran-03:all 0.3s ease;
    --tran-04:all 0.4s ease;
    --tran-05:all 0.5s ease;
}

/* Colores generales */
:root {
    --color-background: #fff; /* Color de fondo principal */
    --color-primary: #454546; /*Color de fondo de la alerta*/
    --color-secundary: #fff;
    --color-border-input: #808080; /*El color de borde de los inputs*/
}
  
/* Colores para textos */
:root {
    --color-text-tittle: #454545; /*Color del título principal*/
    --color-text-primary: #454545; /* Color de texto principal */
    --color-text-secondary: #F1FEFB; /* Color de texto secundario */
    --color-text-link: #F2A530; /*Color de texto de los links*/
    --color-text-recomendation: #ABABAB; /*Color de texto recomedación*/
}

/* Colores para botones */
:root {
    --color-button-primary-bg: #F2A530; /* Fondo de botón principal */
    --color-button-primary-text: #2D453E; /* Texto de botón principal */
    --color-button-secondary-bg: #fff; /* Fondo de botón secundario */
    --color-button-secondary-text: #000000; /* Texto de botón secundario */
    --color-button-upload-bg: #D9D9D9; /* Fondo de botón cargar imagen */
    --color-button-upload-text: #000000; /* Texto de botón cargar imagen */
}
  
/* Colores para hover */
:root {
    --color-hover-primary: #df9a33; /* Color de hover para elementos principales */
    --color-hover-secondary: #d4d4d4; /* Color de hover para elementos secundarios */
}

*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background: white;
}

/* USUARIO  */
/* ================================================== */
#cuenta-perfil{
    font-family: sans-serif;
}

#cuenta-perfil h1{
    font-size: 1.5rem;
    color: var(--color-text-tittle);
    margin: 0 20px;
}

#cuenta-perfil h1,#cuenta-perfil h3{
    cursor: default;
}

#cuenta-perfil .contenido-datos-cuenta{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--color-text-primary);
    gap: 70px;
    margin-top: 25px;
}

/* Lapiz para edicion de datos*/
.bi-pencil {
    border: 0.5px solid #9D9D9D;
    color: #535353;
    padding: 6px 8px;
    border-radius: 12px;
    cursor: pointer;
}

/* INPUTS */
#cuenta-perfil .contenedor-input-datos,  #cuenta-perfil .datos-basicos, #cuenta-perfil .datos-planes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.li-grupo{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.datos-input {
    color: var(--color-text-primary);
    background-color: #fff;
    width: 220px;
    margin-top: 15px;
    border-radius: 12px;
    border: 2px solid var(--color-border-input);
    max-width: 350px;
    padding: 9px 10px;
    height: 38px;
}

.datos-input:disabled {
    border: 2px solid var(--color-border-input);
    cursor: default;
    opacity: 0.7;
}

.botontes-datos {
    margin-top: 30px;
    display: flex;
    gap: 3%;
    display: none;
}

.botontes-datos a, .btn-mejorar-plan {
    text-decoration: none;
    text-align: center;
    font-weight: 600;
}

.btn_guardar, .btn-mejorar-plan {
    background-color: var(--color-button-primary-bg);
    color: var(--color-button-primary-text);
    border-radius: 8px;
    padding: 5px 30px;
    transition: 0.2s ease-in-out;
    align-self: center;
    cursor: pointer;
}

.btn_guardar:hover, .btn-mejorar-plan:hover{
    background-color: var(--color-hover-primary);
    color: white;
}

.boton-mejorar-plan{
    margin: 20px 0 0 8px;
}

.btn_cancelar {
    background-color: var(--color-button-secondary-bg);
    border: 2px solid black;
    color: var(--color-button-secondary-text);
    border-radius: 8px;
    padding: 4.8px 20px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.btn_cancelar:hover{
    background-color: var(--color-hover-secondary);
}

/* Contenedor Suscripción*/
#cuenta-perfil .datos-planes{
    margin-bottom: 120px;
}

.contenedor-planes{
    margin-top: 20px;
}

.tipo-plan{
    width: 95%;
    min-height: 320px;
    margin: 0 auto;
    border-radius: 9px;
    border: #000000 solid 1px;
}

.nombre-plan{
    display: flex;
    gap: 5px;
    flex-direction: column;
    /*padding-left: 38px;
    padding-top: 26px;*/
    padding: 25px 0 20px 25px;
}

.lista{
    padding: 10px 0 0 25px;
}

.lista ul li{
    margin: 15px 0px;
    list-style: none;
    display: flex;
    flex-direction: row;
}

.bi-check-circle-fill, .bi-x-circle-fill{
    margin-right: 7px;
    color: rgb(13, 199, 13);
}

.bi-x-circle-fill{
    color: red;
}

/* MENSAJE DE ERROR*/
.mensaje-error{
    width: 220px;
    font-size: 11px;
    color: #c10000;
    margin-left: 2px;
    margin-top: 2px;
    display: none;
}

/*Celular*/
@media (max-width: 550px){
    .contenedor-planes {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/*Tablet*/
@media (min-width: 551px) and (max-width:1099px) {
    #cuenta-perfil{
        width: calc(100% - 95px);
        margin-left: auto;
    }

    #cuenta-perfil h1{
        margin: 0;
    }

    #cuenta-perfil .datos-basicos{
        align-items: flex-start;
        width: 100%;
        margin-bottom: 65px;
    }

    #cuenta-perfil .contenido-datos-cuenta {
        align-items: flex-start;
        gap: 10px;
    }

    #cuenta-perfil .contenedor-input-datos{
        display: grid;
        grid-template-areas: 
        'first .'
        'second third';
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 20px;
        width: 90%;
        justify-content: start;
        align-items: start;
    }

    .first {
        grid-area: first;
    }
    
    .second {
        grid-area: second;
    }
    
    .third {
        grid-area: third;
    }

    .datos-input{
        width: 100%;
        max-width: 350px;
        padding: 9px 10px;
        height: 38px;
    }

    #cuenta-perfil .datos-planes {
        margin-bottom: 50px;
        align-items: flex-start;
    }
}

/*PC*/
@media (min-width: 1100px){
    #cuenta-perfil{
        width: calc(100% - 130px);
        margin-left: auto;
    }

    #cuenta-perfil h1{
        margin: 0;
    }

    #cuenta-perfil .datos-basicos{
        align-items: flex-start;
        width: 100%;
        margin-bottom: 65px;
        max-width: 950px;
    }

    #cuenta-perfil .contenedor-input-datos{
        display: grid;
        grid-template-areas: 
        'first .'
        'second third';
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 20px;
        width: 90%;
        justify-content: start;
        align-items: start;
    }

    #cuenta-perfil .contenido-datos-cuenta {
        align-items: flex-start;
        gap: 10px;
    }

    .first {
        grid-area: first;
    }
    
    .second {
        grid-area: second;
    }
    
    .third {
        grid-area: third;
    }

    .datos-input{
        width: 100%;
        max-width: 350px;
        padding: 9px 10px;
        height: 38px;
    }

    #cuenta-perfil .datos-planes {
        margin-bottom: 50px;
        align-items: flex-start;
    }
}