:root{
    /*transition*/
    --tran-02:all 0.2s ease;
    --tran-03:all 0.3s ease;
    --tran-04:all 0.4s ease;
    --tran-05:all 0.5s ease;
}

/* Colores generales */
:root {
    --color-background: #fff; /* Color de fondo principal */
    --color-primary: #454546; /*Color de fondo de la alerta*/
    --color-secundary: #fff;
    --color-border-input: #808080; /*El color de borde de los inputs*/
}
  
/* Colores para textos */
:root {
    --color-text-tittle: #454545; /*Color del título principal*/
    --color-text-primary: #454545; /* Color de texto principal */
    --color-text-secondary: #F1FEFB; /* Color de texto secundario */
    --color-text-link: #F2A530; /*Color de texto de los links*/
    --color-text-recomendation: #ABABAB; /*Color de texto recomedación*/
}

/* Colores para botones */
:root {
    --color-button-primary-bg: #F2A530; /* Fondo de botón principal */
    --color-button-primary-text: #2D453E; /* Texto de botón principal */
    --color-button-secondary-bg: #fff; /* Fondo de botón secundario */
    --color-button-secondary-text: #000000; /* Texto de botón secundario */
    --color-button-upload-bg: #D9D9D9; /* Fondo de botón cargar imagen */
    --color-button-upload-text: #000000; /* Texto de botón cargar imagen */
}
  
/* Colores para hover */
:root {
    --color-hover-primary: #df9a33; /* Color de hover para elementos principales */
    --color-hover-secondary: #d4d4d4; /* Color de hover para elementos secundarios */
}

*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background: white;
}

#managment-survey{
    font-family: sans-serif;
}

#managment-survey h1{
    font-size: 1.5rem;
    color: var(--color-text-tittle);
    margin: 0;
}

#managment-survey h1{
    cursor: default;
}

#managment-survey .encabezado-managment-survey{
    margin: 25px 20px 0px 0px;
}

#managment-survey .encabezado-managment-survey hr{
    border-color: #ffffff;
}

#managment-survey .opcion-crear-gestionar-surveys{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
    margin-bottom: 3px;
}

#managment-survey .opcion-encabezado{
    font-size: 15px;
    color: #676767;
    cursor: pointer;
}

#managment-survey .opcion-encabezado.actual {
    color: var(--color-text-tittle);
    font-weight: 600;
    /* border-bottom: solid yellow; */
    /* border-bottom-width: 2px; */
    /* border-bottom: 2px solid red; */
    line-height: 1;
    position: relative;
    cursor: default;
}

#managment-survey .opcion-encabezado.actual::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 79px;
    height: 2px;
    background-color: #F2A530;
}

#managment-survey .survey-container{
    margin: 40px 20px 90px 0;
    height: 100%;
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
    justify-content: center;
    gap: 30px;
}

#managment-survey .diseno-encuesta-realizada{
    background-color: #fff;
    box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.2);
    width: 203px;
    height: 280px;
    border-radius: 10px;
}

#managment-survey .diseno-encuesta-realizada{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 23px;
}

#managment-survey .diseno-encuesta-realizada .visualizar-encuesta{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

#managment-survey .diseno-encuesta-realizada h4{
    color: #515151;
}

#managment-survey .diseno-encuesta-realizada .estado{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    color: #7D7575;
}

#managment-survey .diseno-encuesta-realizada .estado i{
    font-size: 9px;
    margin-right: 5px;
}
#managment-survey .diseno-encuesta-realizada .estado.activo i{
    color: #4EC24B;
}
#managment-survey .diseno-encuesta-realizada .estado.desactivo i{
    color: #c24b4b;
}

#managment-survey .diseno-encuesta-realizada .fecha{
    color: #999;
    font-size: 14px;
}

#managment-survey .btn-revisar{
    color: #515151;
    border-radius: 8px;
    padding: 5px 30px;
    transition: 0.2s ease-in-out;
    align-self: center;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    font-weight: 600;
    font-size: 15px;
    border: 2px solid #515151;
}

#managment-survey .btn-revisar:hover{
    background-color: var(--color-button-primary-bg);
}

/*Celular*/
@media (max-width: 550px){
    #managment-survey .encabezado-managment-survey{
        margin-left: 20px;
    }

    #managment-survey h1{
        margin: 20px;
    }

    #managment-survey .survey-container{
        margin: 40px 20px 0px 20px;
        align-items: center;
        padding-bottom: 110px;
        flex-wrap: wrap;
    }

}

/*Tablet*/
@media (min-width: 551px) and (max-width:1099px) {
    #managment-survey{
        width: calc(100% - 95px);
        margin-left: auto;
    }




}

/*PC*/
@media (min-width: 1100px){

}